* {
  transition: all.1s ease-in;
}
body {
  max-width: 1200px;
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1200px;
  min-height: 790px;
  background-color: #2b81ac;
  padding: 20px;
}
.main_container {
  min-height: 750px;
  max-width: 1165px;
  background-color: #3399cc;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
h1 {
  font-size: 26px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.grid_list {
  font-size: 0;
  border: white solid 1px;
}
.grid_item {
  display: inline-block;
  background-color: violet;
  font-size: 16px;
  border: white solid 1px;
  text-align: center;
}
.wi {
  color: white;
  font-size: 26px;
}
.content_container {
  max-width: 810px;
  min-height: 610px;
  margin: auto;
}
.grid_2-4 {
  width: 50%;
}
.grid_1-4 {
  width: 25%;
}
.grid_4-4 {
  width: 100%;
}
.content_container:last-child {
  font-size: 18px;
}
.item1 {
  background-color: #3399cc;
}
.item2 {
  background-color: #33cccc;
}
.item3 {
  background-color: #996699;
}
.item4 {
  background-color: #c24747;
}
.item5 {
  background-color: #e2674a;
}
.item6 {
  background-color: #ffcc66;
}
.item7 {
  background-color: #99cc99;
}
.item8 {
  background-color: #669999;
}
.item9 {
  background-color: #cc6699;
}
.item10 {
  background-color: #339966;
}
.item11 {
  background-color: #666699;
}
ul:hover {
  opacity: 0.7;
}
.grid_item:hover {
  background-color: tomato;
  opacity: 1 !important;
}
